.header {
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  color: white;
  padding-top: 10px;
  position: relative;
  background-color: $white;

  a {
    color: white;
  }
}

.header__mobile-btn {
  background-color: transparent;
  border: none;
  padding: 0;

  div {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
  }

  display: none;
  cursor: pointer;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:first-child {
    margin-bottom: 38px;
  }
}

.header__row.header__row-extra {
  // padding-bottom: 28px;
}

.header__nav {
  max-width: 400px;
}

.header__nav-mobile-cross {
  display: none;
}

.header__nav-list {
  @include Play700;
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5px;
}

.header__nav-li {}

.header__nav-link {
  line-height: 29px;
  border-radius: 50px;
  padding: 0 20px;
  white-space: nowrap;

  &:hover {
    background-color: #068292;
  }
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25px;
}

.header__phones {
  display: flex;
  position: relative;
}

.header__phones-item.header__phones-item--img::before {
  content: '';
  display: block;
  width: 19px;
  height: 25px;
  background-image: url(../images/icons/white_phone.png);
  background-position: center top;
  background-size: cover;
  position: absolute;
  left: -7px;
  top: 4px;
}

.header__phones-item {
  padding-right: 33px;
  padding-left: 33px;

  &.header__phones-item--img {
    border-right: 1px solid #fff;
  }
}

.header__phones-item--img {}

.header__phones-title {
  display: block;
  font-size: 12px;
  @include f300;
}

.header__phones-num {
  font-size: 18px;
  @include f900;
  text-decoration: none;
}

.header__links {
  flex-basis: 50%;
  display: flex;
  margin-left: 15px;

  .header__link {
    text-decoration: none;
    color: $blue;
    font-size: 14px;

    &.header__link--enter span {
      color: #999999;
      border-bottom: 1px dotted #999999;
    }

    &.header__link--reg span,
    &.header__link--clallback span {
      border-bottom: 1px dotted $blue;
    }

    &.header__link--mail span {
      border-bottom: 1px solid $blue;
    }
  }
}

.header__links.header__links--extra {
  position: relative;
}

.header__link {
  display: flex;
  align-items: center;
  margin-right: 45px;

  img {
    margin-right: 10px;
  }
}

.header__link.header__link--clallback {
  margin-left: 108px;
  margin-right: 37px;
}

.header__date {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: $grey;
}

.header__date-img {
  margin-right: 16px;
}

.header__date-list {}

.header__date-day {
  font-weight: 900;
}

.header__date-time {}

.header__cart {
  width: 39px;
  height: 39px;
  background-image: url(../images/icons/blue_cart.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
  position: absolute;
  right: 20px;
  top: -9px;
}

.header__cart-quantity {
  background-color: $orange;
  display: inline-block;
  padding: 0 10px;
  @include f700;
  font-size: 18px;
  border-radius: 50px;
  line-height: 22px;
  transform: translateX(33px);
}

.main {}

.main__inner {
  display: flex;
  margin-bottom: 20px;
}

.aside-menu {
  max-width: 261px;
  width: 100%;
  background-image: url(../images/aside-bg.jpg);
  background-position: center top;
  background-size: cover;
  position: relative;
  margin-bottom: 44px;
}

.aside-menu.aside-menu__catalog {
  margin-bottom: 20px;
}

.aside-menu__title {
  padding: 21px 21px 0 21px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #ffffff;
  line-height: 35px;
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;
}

.aside-menu__btn {
  margin-top: 15px;
  min-width: 36px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #068292;

  span {
    display: block;
    width: 24px;
    height: 2px;
    background-color: #ffffff;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

}

.aside-menu__list {
  max-height: 0;
  overflow: hidden;
  will-change: max-height;
  /*позволяет оптимизировать данное действие*/
  transition: all 0.4s ease-out;
}

.aside-menu__item {
  border-bottom: 1px solid #1aa7b9;

  &:last-child {
    border-bottom: none;
  }
}

.aside-menu__item.aside-menu__item--triger:hover {
  & .aside-exstra {
    transform: translateX(100%);
    z-index: -1;
    visibility: visible;
  }
}

.aside-menu__link {
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 21px;
  width: 100%;
  transition: background-color 0.3s;

  &:hover {
    background-color: #098494;
  }
}

.aside-menu__link--active {
  border: 2px solid #098494;
  padding-top: 20px;
}

.aside-menu__open-link {}

.aside-exstra {
  background-color: #ffffff;
  border: 2px solid #098494;
  position: absolute;
  top: 0;
  transform: translateX(0);
  z-index: -99;
  height: 100%;
  padding-top: 20px;
  width: 100%;
  transition: transform 0.3s;
  z-index: -1;
  visibility: hidden;
}

.aside-exstra__list {
  font-size: 12px;
  padding-bottom: 28px;
  border-bottom: 1px solid #dedede;
  margin-bottom: 11px;
}

.aside-exstra__item {}

.aside-exstra__link {
  color: $blue;
  text-decoration: none;
  color: #1ab9ce;
  padding: 12px 39px;
  width: 100%;
  transition: background-color 0.3s;

  &:hover {
    background-color: #71c7d3;
    color: $white;
  }
}

.aside-exstra__product {
  padding: 0 24px;
}

.aside-exstra__top-day {
  font-size: 14px;
  @include f900;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $orange;
  border-radius: 50px;
  padding: 5px 15px;
  display: inline-block;
  margin-bottom: 16px;
}

.aside-exstra__product-inner {
  text-decoration: none;
}

.aside-exstra__img {
  img {
    max-width: 100%;
  }
}

.aside-extra__product-title {
  font-size: 16px;
  line-height: 24px;
  color: #36949f;
  margin-bottom: 31px;
  @include f300;
}

.aside-exstra__product-price {
  font-size: 24px;
  @include f900;
  color: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside-exstra__product .ruble-sign {
  font-size: 20px;
}

.aside-exstra__product-cartbtn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.main__aside {
  width: 100%;
  z-index: 999;
  max-width: 261px;
}

.main__content {
  width: 100%;
  margin-left: 29px;
}

.main-search {
  position: relative;
  margin-bottom: 22px;
}

.main-search__inner {
  display: flex;
  height: 39px;
  border: 2px solid #f3f3f3;
}

.main-search__type {
  min-width: 116px;
  border: none;
  background-color: #f3f3f3;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: background-color 0.3s;

  &:hover {
    background-color: #efefef;
  }
}


.main-search__type-name {
  border-bottom: 1px dotted #000;
  font-size: 14px;
  font-weight: 300;
  color: #666666;
}

.main-search__input {
  width: 100%;
  border: none;
  outline: none;
}

.main-search__btn {
  min-width: 86px;
  border: none;
  font-size: 12px;
  @include f900;
  text-transform: uppercase;
  color: white;
  background-color: $orange;
  margin-top: -2px;
  margin-bottom: -2px;
  margin-right: -2px;
  cursor: pointer;
}

.main-search__sublinks {
  display: flex;
  border-left: 1px solid #f3f3f3;
  border-right: 1px solid #f3f3f3;
  border-bottom: none;
  // border-bottom: 4px solid $orange;
  position: absolute;
  width: 100%;
  z-index: 999;
  transition: all 0.3s;
  background-color: #fff;
  overflow: hidden;
  max-height: 0;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: $orange;
    position: absolute;
    bottom: 0;
  }
}

.products__item-cartbtn-wrapper {
  transition: all 0.3s;
}

.main-search__sublinks-col {
  width: 33.333333%;
  padding: 13px 0 13px 40px;
  font-size: 12px;
  color: $grey;

  &:not(:last-child) {
    border-right: 1px solid #f3f3f3;
  }
}

.main-search__sublinks-list {
  padding-bottom: 13px;
}

.main-search__sublinks-item {
  padding: 13px 0;
  cursor: pointer;

  &:hover {
    color: $orange;
  }
}

.main-slider {
  margin-bottom: 60px;
  position: relative;
}

.main-slider__pagination {
  position: absolute;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  bottom: -28px;
  display: flex;
}

.main-slider__pagination-item {
  width: 55px;
  height: 55px;
  background-color: #f68038;
  border: 2px solid #ffffff;
  border-radius: 50%;
  line-height: 48px;
  font-weight: 900;
  color: #fffefe;
  text-align: center;
  font-size: 0;
  cursor: pointer;

  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;

  &:not(:last-child) {
    margin-right: 45px;
  }

  &.main-slider__pagination--active {
    background-position: -200px;
    border: 4px solid #ffffff;
    font-size: 16px;
  }
}

.main-slider__content {
  width: 100%;
  height: 383px;
  overflow: hidden;
}

.main-slider__container {
  max-width: 847px;
}

.slider-content__link {
  img {
    max-width: 100%;
  }
}

.swiper-slide,
.swiper-slide-active {}

.products {}

.products__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}

.big-title {
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  color: #dadada;
}

.pagination {
  display: flex;
  align-items: center;
  ;
}

.pagination__left-arrow,
.pagination__right-arrow {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.pagination__numbers {
  margin: 0 21px;

  & span:first-child {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    color: #333333;
  }

  & span:last-child {
    font-size: 14px;
    font-weight: 500;
    color: #999999;
  }
}

.pagination__right-arrow {}

.products__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products__items.products__items-list-view {
  display: block;
  width: 100%;

  .products__item {
    width: 100%;
    max-width: initial;
    height: initial;
    align-items: center;
    display: flex;
    margin-bottom: 15px;
  }

  .products__item-img {
    flex-basis: 280px;
    height: 200px;
  }

  .products__item-content {
    position: initial;
    padding: 21px 14px 21px 21px;
    overflow: hidden;
    transition: none;
    background: transparent;
    border: none;
    flex-basis: 100%;
    display: flex;
  }

  .products__item-inner {
    transform: none;
    transition: none;
    flex-basis: 200%;
  }

  .products__item-features {
    display: flex;
  }

  .products__item-features span {
    color: #333333;
    margin-left: 5px;
  }

  .products__item:hover .products__item-content {
    background-color: initial;
    border: none;
  }

  .products__item:hover .products__item-price {
    background: initial;
  }

  .products__item-price {
    display: block;
    position: initial;
    width: 100%;
    padding: 0;
    background: transparent;

  }

  .products__item-price-inner {
    margin-top: 20px;
  }

  .products__item-cartbtn-wrapper {
    position: absolute;
    right: 20px;
    top: 90px;
    transition: all 0.3s;
  }

  .products__item-features {
    color: #666666;
  }

  .products__item:hover .products__curent-price,
  .products__item:hover .products__curent-price-wrapper .ruble-sign {
    color: #333333;
  }

  .products__item-white-cart {
    display: none;
  }

  .products__item-white-cart {
    transform: translate(0);
  }

  .products__item:hover {

    .products__item-title,
    .products__item-title span {
      color: #36949f;
    }
  }
}

.products__item {
  cursor: pointer;
  max-width: 263px;
  width: 100%;
  height: 383px;
  background-color: $white;
  border: 1px solid #f5f5f5;
  overflow: hidden;
  position: relative;
  margin-bottom: 31px;
}

.products__item-img {
  max-height: 255px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
  }
}

.products__item-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 21px 14px 21px 21px;
  overflow: hidden;
  transition: all 0.5s;
  background: transparent;
  border: none;
}

.products__item-inner {
  transform: translateY(234px);
  transition: transform 0.5s;
}

.products__item-title {
  font-size: 16px;
  font-weight: 900;
  // color: #ffffff;
  color: #36949f;
  margin-bottom: 27px;

  span {
    margin-top: 5px;
    display: block;
    font-weight: 300;
    // color: #c2c2c2;
    color: #36949f;
  }
}

.products__item-features {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  line-height: 18px;
  margin-bottom: 7px;

  span {
    display: block;
    font-weight: 900;
    color: $orange;
  }
}

.products__item-cartbtn-wrapper {
  padding: 14px 0 27px;
}

.products__item-cartbtn {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.products__item-price {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  position: absolute;
  width: 100%;
  left: 0;
  bottom: -23px;
  padding: 0 14px 40px 21px;

  z-index: 1;
  background: #fff;
  transition: background-color 0.5s;
}

.products__item-price-inner {
  text-align: right;
}

.products__old-price {
  font-size: 18px;
  font-weight: 300;
  text-decoration: line-through;
  color: #999999;
}

.products__old-price-wrapper .ruble-sign {
  color: #999999;
}

.products__curent-price {
  font-size: 24px;
  font-weight: 900;
  // color: #ffffff;
  color: #333333;
}

.products__curent-price-wrapper .ruble-sign {
  // color: #ffffff;
  color: #333333;
  font-weight: 500;
  font-size: 18px;
}

.products__item-white-cart {
  transform: translateY(10px);
}

.instock-label {
  display: none;
  padding: 0 10px;
  border-radius: 50px;
  background-color: $white;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #f68038;
  text-transform: uppercase;
  position: absolute;
  left: 21px;
  line-height: 21px;
  font-size: 11px;
  bottom: 45px;
}

.products__item:hover {
  & .products__item-content {
    background-color: rgba(0, 0, 0, 0.84);
    border: 5px solid #f68038;
  }

  & .products__item-title {
    color: #ffffff;
  }

  & .products__item-title span {
    color: #c2c2c2;
  }

  & .products__item-price {
    background: #282828;
  }

  & .products__curent-price {
    color: #ffffff;
  }

  & .products__curent-price-wrapper .ruble-sign {
    color: #ffffff;
  }

  & .products__item-inner {
    transform: none;
  }

  .products__item-white-cart {
    display: none;
  }

  .instock-label {
    display: block;
  }
}

.aside-news {
  margin-bottom: 70px;
}

.section-title {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  color: $blue;
  line-height: 25px;
}

.aside-news__section-title.section-title {
  margin-bottom: 36px;
}

.aside-news__item {}

.aside-news__title {
  @include f900;
  line-height: 18px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 15px;
}

.aside-news__content {
  display: flex;
  margin-bottom: 30px;
}

.side-news__date {
  color: #d8d8d8;
}

.side-news__date-num {
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;

}

.side-news__date-month {
  font-size: 18px;
  font-weight: 300;
  text-transform: none;
  line-height: 13px;
}

.aside-news__text {
  margin: 0;
  padding-left: 17px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  color: #666666;
}

.aside-reviews__section-title.section-title {
  color: #dadada;
  margin-bottom: 27px;
}

.aside-reviews {}

.aside-reviews__item {
  margin-bottom: 23px;
}

.aside-reviews__item:hover {

  & .aside-reviews__name,
  .aside-reviews__date {
    color: $blue;
  }

  & .aside-reviews__text {
    color: #fff;
    background: $blue;
  }
}

.aside-reviews__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.aside-reviews__name {
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  color: #333333;
}

.aside-reviews__date {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  color: #999999;
}

.aside-reviews__text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  color: #666666;
  padding: 15px 5px 15px 30px;
  position: relative;

  &::before {
    content: '”';
    display: block;
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    color: #dadada;
    position: absolute;
    left: 5px;
    top: 29px;
  }
}

.brands-labels {
  border: 3px solid transparent;
  border-image: url(../images/line.png) 3 repeat;
  padding: 40px 0;
  margin-bottom: 32px;
}

.brands-labels__container {
  max-width: 1020px;
  position: relative;
}

.brands-labels__slide {
  text-align: center;

  img {
    filter: grayscale(100%);
    opacity: 0.5;
  }

}

.brands-labels__slide img:hover {
  filter: grayscale(0);
  opacity: 1;
}

.brands-labels__inner {
  position: relative;
}

.brands-labels__button-prev,
.brands-labels__button-next {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  z-index: 9999999;

  &.swiper-button-disabled {
    opacity: 0.5;
  }
}

.brands-labels__button-prev {
  left: 0;
  margin-left: 15px;
}

.brands-labels__button-next {
  right: 0;
  margin-right: 15px;
}

.about {}

.about__inner {
  padding: 45px 57px 61px 37px;
  background-image: url(../images/about_bg.jpg);
  background-position: center top;
  background-size: cover;
  margin-bottom: 38px;
}

.section-title {}

.about__content {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
}

.about__content-column {
  max-width: 505px;
}

.footer {}

.footer__links {
  padding: 13px 0;
  border: 3px solid transparent;
  border-image: url(../images/line.png) 3 repeat;
  margin-bottom: 38px;
}

.footer__links-inner {
  display: inline-block;
}

.footer__links-list {
  display: flex;
  align-items: center;

  &:first-child {
    border-bottom: 1px solid #e0e0e0;
  }
}

.footer__links-item {
  padding: 13px 0;
  font-size: 12px;
  font-weight: 300;

  a {
    color: $blue;
    text-decoration: none;

    &:hover {
      color: #333333;
    }
  }

  &:not(:last-child) {
    margin-right: 34px;
  }

  &:first-child {
    font-size: 14px;
    font-weight: 900;
    color: #333333;
  }
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  border-bottom: 1px solid #dadada;
}

.footer__phones {
  position: relative;
}

.footer__phones-inner {
  padding-left: 40px;
  margin-top: 28px;
  position: relative;

  span {
    display: block;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 7px;
  }

  &::before {
    content: '';
    display: block;
    width: 19px;
    height: 25px;
    background-image: url(../images/icons/black_phone.png);
    background-position: center top;
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.footer__payment-systems {
  display: flex;
  position: absolute;
  bottom: 0;

  .bg-mc {
    width: 35px;
    height: 23px;
    background: url('../images/sprite.png') -122px -10px;
  }

  .bg-qiwi {
    width: 36px;
    height: 24px;
    background: url('../images/sprite.png') -10px -10px;
  }

  .bg-viza {
    width: 36px;
    height: 23px;
    background: url('../images/sprite.png') -65px -54px;
  }

  .bg-wm {
    width: 36px;
    height: 24px;
    background: url('../images/sprite.png') -66px -10px;
  }

  .bg-ym {
    width: 35px;
    height: 24px;
    background: url('../images/sprite.png') -10px -54px;
  }

  .bg-qiwi {
    width: 36px;
    height: 24px;
    background: url('../images/sprite.png') -10px -10px;
  }
}

.footer__payment-systems-item {
  &:not(:last-child) {
    margin-right: 25px;
  }
}

.shipping-labels {}

.shipping-labels__title {
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  color: #999999;
  margin-bottom: 31px;
}

.shipping-labels__inner {
  max-width: 320px;
  width: 100%;
  max-width: 320px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

.shipping-labels__item {
  padding-left: 8px;
  margin-bottom: 13px;
}

.footer__vk {
  display: flex;
}

.footer__vk-block {
  width: 260px;
  height: 240px;
  background-image: url(../images/content/vkgroup.jpg);
  background-size: cover;
  background-position: -23px;

  &:first-child {
    margin-right: 40px;
  }
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0;

  span {
    font-size: 12px;
    font-weight: 300;
    color: #999999;
  }
}

.footer__socials {
  display: flex;
}

.footer__socials-item {
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.main-slider__slide.swiper-slide {
  //***********************************************************
  width: 100% !important;
  height: 383px;
  // overflow: hidden !important;
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

//***********************************************************

.slider-content__link {
  overflow: hidden !important;
}

.filters {
  border: 4px solid #72c9d4;
  padding: 29px 0px;
}

.filters__title-big {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #36949f;
  line-height: 20px;
  margin-bottom: 25px;
  padding-left: 18px;
}

.filters__box {
  padding: 0 18px 0px 18px;
  border-bottom: 1px solid #72c9d4;
}

.filters__box:last-child {
  border-bottom: none;
}

.filters__box-title {
  font-size: 16px;
  font-weight: 900;
  color: #36949f;
  padding-bottom: 23px;
  padding-top: 23px;
  position: relative;

}

.filters__box-title.filters__box-arrow {
  cursor: pointer;
}

.filters__range {
  margin-bottom: 25px;
}

.filters__range-slider {
  padding-right: 13px; //****************************************************
  height: 4px;
  margin-bottom: 51px;
  color: #999999;

  .noUi-handle {
    width: 26px;
    height: 26px;
    background-color: #ffffff;
    border: 1px solid #f68038;
    box-shadow: none;
    box-sizing: border-box;
    top: -12px;
    border-radius: 100%;
    cursor: pointer;

    &::before,
    &::after {
      display: none;
    }

    .noUi-touch-area {
      width: 15px !important;
      height: 15px;
      background: #f68038;
      border-radius: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .noUi-tooltip {
    bottom: -120%;
    border: none;
  }

  .noUi-connect {
    background-color: #ffcda5;
  }

  .noUi-target {
    background-color: #eaeaea;
  }
}

.filters__range-inputs {
  font-size: 12px;
  font-weight: 300;
  color: #999999;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
}

.filter__range-label:first-child {
  margin-right: 33px;
}

.filters-range__input {
  width: 62px;
  height: 23px;
  border: 1px solid #dadada;
  outline: none;
  color: #999999;
}

.filters__compare {
  margin-bottom: 25px;
}

.filters__compare-list {
  margin-bottom: 15px;
}

.filters__compare-cross,
.filters__compare-link {
  font-size: 12px;
  line-height: 30px;
  font-weight: 300;
  color: #1ab9ce;
}

.filters__compare-item {
  display: flex;
  justify-content: space-between;
}

.filters__compare-cross {
  margin-right: 25px;
  color: #c5c5c5;
  cursor: pointer;

  &:hover {
    color: #1ab9ce;
  }
}

.filters__compare-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters__compare-btn {
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
}

.filters__compare-btn {
  background: $blue;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  border-radius: 16px;
  cursor: pointer;
}

.filters__compare-trach {
  width: 40px;
  height: 40px;
  background-color: #e6e6e6;
  border: none;
  border-radius: 100%;
}

.filters__chexbox-list {
  overflow: hidden;
  transition: all 0.4s ease-out;
  max-height: 0;
  will-change: max-height;

  &.filters--open {
    transition: all 0.4s ease-out;
    margin-bottom: 25px;
  }
}

.filters__chexbox-list-extra {
  margin-bottom: 25px;
}

.filters__chexbox-item {
  &:not(:last-child) {
    margin-bottom: 15px;
  }

  label {
    display: flex;
    align-items: center;
    max-width: max-content;
    cursor: pointer;
  }

  .check-box {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  .check-box__style {
    width: 16px;
    height: 16px;
    border: 2px solid #dadada;
    margin-right: 10px;
    position: relative;
  }

  .check-box:checked+.check-box__style::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #53b5de;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }

  .check-box:checked+.check-box__style {
    border-color: #009aaf;
  }
}

.filters__form-btn {
  padding: 0 18px;
  display: flex;
  justify-content: space-between;
}

.filters__form-reset,
.filters__form-submit {
  width: 96px;
  height: 35px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

.filters__form-reset {
  background-color: #e6e6e6;
  color: #666666;
}

.filters__form-submit {
  background-color: #fd8424;
  color: #ffffff;
}

.filters__box-title.filters__box-arrow::before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #72c9d4;
  border-radius: 100%;
  position: absolute;
  right: 0;
  top: 18px;
  background-image: url(../images/duble_arrow.png);
  background-repeat: no-repeat;
  background-position: 10px, center;
  transition: transform 0.3s;
}

.filters__box-title.filters__box-arrow.filters__box-active::before {
  transform: rotate(90deg);
  transition: transform 0.3s;
}

.bread-crumbs {
  margin-bottom: 20px;
}

.bread-crumbs__list {
  display: flex;
}

.bread-crumbs__item {
  display: flex;
  align-items: center;

  img {
    margin: 0 15px;
  }
}

.bread-crumbs__link {
  color: $blue;
  font-size: 14px;
  font-weight: 300;
}

.products__title.products__title--catalog {
  margin-bottom: 20px;
}

.bread-crumbs__item:last-child {

  .bread-crumbs__link {
    color: #999999;
    text-decoration: none;
    pointer-events: none;
  }

  .bread-crumbs__link+img {
    display: none;
  }

}

.products__view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f3f3;
  padding: 9px 17px 9px 23px;
  margin-bottom: 15px;

  .choices__list--dropdown .choices__item--selectable {
    padding: 0;
    padding: 5px 5px;
  }

  .choices {
    min-width: 166px;
    color: $blue;
    font-weight: 400;
  }

  .choices__inner {
    min-height: 29px;
    padding: 0;
    padding-left: 14px;
    padding-top: 2px;
    background-color: #fff;
  }

  .choices[data-type*='select-one'] .choices__inner {
    padding-bottom: 0;
  }

  .choices[data-type*='select-one']:after {
    border-color: #dadada transparent transparent transparent;
  }

  .choices[data-type*='select-one'].is-open:after {
    border-color: transparent transparent #dadada transparent;
  }
}

.products__view-buttons .products__view-active {
  background-color: $blue;

  svg {
    fill: #fff;
  }
}

.products__view-filter {
  display: flex;
  align-items: center;
}

.products__view-filter-title {
  font-size: 14px;
  font-weight: 900;
  color: #333333;
  margin-right: 18px;
}

.products__view-buttons {
  svg {
    display: block;
    height: 23px;
    fill: #a6a6a6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  button {
    background: none;
    border: none;
    width: 36px;
    height: 33px;
    background: #fff;
    cursor: pointer;
    position: relative;
  }
}

.products__view-tile {
  margin-right: 6px;
}

.pagination-extra {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  height: 49px;
  padding: 0 19px 0 16px;
  margin-bottom: 23px;

  .choices {
    min-width: 56px;
  }

  .choices__inner {
    min-height: 29px;
    padding: 0;
    padding-left: 10px;
    padding-top: 2px;
    background-color: #fff;
    border: 2px solid #f3f3f3;
  }

  .choices__list--dropdown {
    overflow-x: hidden;
    border: 2px solid #f3f3f3;
  }

  .choices[data-type*='select-one'] .choices__inner {
    padding-bottom: 0;
  }

  .choices[data-type*='select-one']:after {
    border-color: #dadada transparent transparent transparent;
    border-width: 6px;
  }

  .choices[data-type*='select-one'].is-open:after {
    border-color: transparent transparent #dadada transparent;
  }

  .choices__list--single .choices__item {
    font-size: 16px;
    font-weight: 900;
    color: #999999;
  }
}

.pagination-extra__numbers {
  display: flex;
}

.pagination-extra__list {
  display: flex;
  margin-left: 36px;
  margin-right: 26px;
}

.pagination-extra__inner {
  display: flex;
  align-items: center;
}

.pagination-extra__from-title {
  font-size: 14px;
  font-weight: 900;
  color: #333333;
  margin-right: 15px;
}

.pagination-extra__number {
  width: 33px;
  height: 33px;
  font-size: 18px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;

  &:not(:last-child) {
    margin-right: 5px;
  }

  a {
    color: #333333;
    text-decoration: none;
  }

}

.pagination-extra__number.pagination-extra__active {
  background-color: $orange;

  a {
    color: #fff;
  }
}

.pagination-extra .choices__list {
  overflow-x: hidden;
}

.product-one {
  margin-bottom: 35px;
}

.product-one__title {
  margin-bottom: 17px;
}

.title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 900;
  text-transform: uppercase;
  color: #333333;
}

.title__span {
  display: block;
  font-size: 30px;
  color: #dadada;
}

.product-one__content {
  display: flex;
}

.product-one__box:first-child {
  margin-right: 30px;
}

.product-one__box_left {
  flex-grow: 1;
}

.product-one__slider {
  max-width: 359px;
  width: 100%;
  height: 308px;
  border: 1px solid #f5f5f5;
  margin-bottom: 13px;
}
.product-one__slide.swiper-slide {
  //**************************************************************************************
  width: 100% !important;
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

// .product-one__slide {
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   img {
//     max-width: 100%;
//   }
// }


.product-one__slidernav {
  display: flex;
  justify-content: space-between;
}

.product-one__nav-item {
  border: 1px solid #e4e4e4;
  cursor: pointer;
  img {
    max-width: 100%;
  }
}

.product-one__line {
  display: flex;
}

.product-one__line {
  border-bottom: 1px solid #ededed;
}

.product-one__line_1 {
  justify-content: space-between;
  padding: 7px 0 12px;
}

.product-one__compare {
  height: 33px;
  background-color: #f3f3f3;
  padding: 0 16px;
  border-radius: 19px;

  font-size: 14px;
  line-height: 33px;
  font-weight: 900;
  text-transform: uppercase;
  color: #666666;
}

.product-one__instock {
  position: initial;
  color: #fff;
  background: #f68038;
  display: block;
  height: 21px;
}

.product-one__line_2 {
  padding: 15px 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.product-one__price {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.product-one__old {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  text-decoration: line-through;
  color: #999999;
}

.product-one__current {
  font-size: 24px;
  font-weight: 900;
  color: #333333;
}

.stepper__input {
  width: 56px;
  height: 33px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  margin: 0 10px;

  font-size: 16px;
  font-weight: 900;
  color: #999999;
  text-align: center;
  -moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
.stepper__input::-webkit-outer-spin-button,
.stepper__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.product-one__stepper {}

.stepper {
  display: flex;
  align-items: center;
}

.stepper__left {}

.stepper__right {}

.product-one__cart {}

.cart-btn {
  position: relative;
  height: 34px;
  background-color: #f3f3f3;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  color: #999999;
  padding: 0 16px;
  margin-right: 52px;

  img {
    position: absolute;
    top: -11px;
    right: -45px;
  }
}

.product-one__line_3 {
  padding: 22px 0 13px;
}

.product-one__include {}

.include {}

.include__title {
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 22px;
}

.include__icons {
  display: flex;
}

.include__icon {
  max-width: 65px;
  text-align: center;
}

.include__icon:not(:last-child) {
  margin-right: 69px;
}

.include__sign {}

.product-tabs,
.order {
  margin-bottom: 50px;

  .tabs__btn {
    height: 49px;
    padding: 0 30px;
  }

  .tabs__title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    color: #72c9d4;
    border-bottom: 1px dashed #72c9d4;
  }

  .tabs__btn_active {
    background-color: #72c9d4;

    .tabs__title {
      color: #fff;
    }
  }

  .tabs__inner {
    background-color: #fafafa;
    padding: 23px 33px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #666666;
  }
}

.mb30 {
  margin-bottom: 30px;
  line-height: 33px;
}
.characteristics{
  margin-top: 25px;
}
.characteristics__line {
  display: flex;
}

.characteristics__cell {
  width: 50%;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  padding: 12px 20px;
  border-bottom: 1px solid #e2e2e2;
}

.color999{
  color: #999999;
}

.order__tabs {
  background-color: #fafafa;
  padding: 20px 32px 37px 45px;
}
.order__big-title,
.order-items__big-title{
  margin-bottom: 22px;
  line-height: 27px;
}
.order__section_info {
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  color: #666666;
}
.order__wrapper {
}
.tabs__switchers {
}
.order__form-wrapper{
  display: flex;
}
.order__form {
  max-width: 380px;
  width: 100%;
  flex-shrink: 0;
  margin-right: 44px;
}
.order__section {
  padding-top: 30px;
}
.order__line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:not(:last-child){
    margin-bottom: 10px;
  }
}
.order__line.order__line_extra{
  align-items: flex-start;
  .order__title{
    margin-top: 7px;
  }
}
.order__title {
  font-size: 14px;
  font-weight: 900;
  color: #333333;
  span{
    color: #f68038;
  }
}

.order__input {
  width: 216px;
  height: 31px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  font-weight: 300;
  color: #666666;
  padding: 0 15px;

}
.order__textarea {
  width: 216px;
  height: 121px;
  border: 1px solid #e5e5e5;
  resize: none;
}
.order__sub {
  display: block;
  text-align: right;
  span{
    margin-right: 10px;
  }
}
.order-items {
}

.order-item {
  border: 1px solid #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  &:not(:last-child){
    margin-bottom: 10px;
  }
}

.order-item__remove {
  position: absolute;
  color: #dedede;
  font-size: 23px;
  font-weight: bold;
  right: 10px;
  top: 9px;
  &:hover{
    color: $orange;
  }
}

.order-item__img {
  width: 150px;
  height: 143px;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    max-width: 100%;
  }
}

.order-item__text {
    flex-grow: 1;
    padding-left: 11px;
}
.order-item__title {
  max-width: 275px;
  font-size: 14px;
  line-height: 15px;
  font-weight: 900;
  color: #36949f;
  margin-bottom: 14px;
  span{
    font-weight: 300;
  }
}
.order-item__price {
  font-size: 24px;
  line-height: 19px;
  font-weight: 900;
  color: #333333;
}
.order-items__stepper {
  flex-grow: 2;
  padding-left: 15px;
}
.stepper {
}
.stepper__left {
}
.stepper__input {
}
.stepper__right {
}
.order-item__sum{
  flex-grow: 3;
}
.sum {
    padding-left: 15px;
    padding-bottom: 20px;
    transform: translateY(8px);
}
.sum__title {
  font-size: 16px;
  font-weight: 300;
  color: #999999;
  line-height: 13px;
  margin-bottom: 16px;

}
.sum__total {
  font-size: 24px;
  font-weight: 900;
  color: #333333;
  line-height: 19px;
  white-space: nowrap;
}
.order-item__total {
  text-align: right;
  padding-top: 28px;
}
.total {
}
.total__text {
}
.total__title {
  font-size: 24px;
  line-height: 16px;
  font-weight: 900;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 28px;
}
.total__num {
  font-size: 36px;
  line-height: 24px;
  font-weight: 900;
  color: #f68038;
}
.total__button {
  padding: 0 18px;
  font-size: 14px;
  line-height: 33px;
  height: 33px;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #f68038;
  text-decoration: none;
  color: #ffffff;
  border-radius: 15px;
}

.cart {
  color: #000;
  box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
      width: 500px;
    position: absolute;
    z-index: 999999;
    background: #fff;
    padding: 10px;
    right: 0;
    top: 29px;
}
.cart__body {
  max-height: 250px;
  overflow-y: auto;
}
.cart__item {
  display: flex;
  border: 1px solid #f5f5f5;
  align-items: center;
  &:hover{
    background: #f5f5f5;
  }
}
.cart__img {
      width: 100px;
    height: 100px;
    flex-shrink: 0;
    margin-right: 15px;
    img{
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
}
.cart__remove{
  flex-grow: 1;
  svg{
    display: block;
    margin: 0 auto;
  }
}
.cart__wrapper {

}
.cart__title {
      max-width: 275px;
    font-size: 15px;
    line-height: 15px;
    font-weight: 700;
    color: #36949f;
    margin-bottom: 14px;
}
.cart__price {
      font-size: 15px;
    font-weight: bold;
}
.cart__bottom {
  display: flex;
      align-items: center;
    justify-content: space-between;
}
.fullprice {
      font-size: 30px;
    font-weight: 900;
    color: #000;
}
.fullprice__span{
  display: block;
  font-size: 24px;
  font-weight: normal;
}
.cart__btn {
      padding: 0 18px;
    font-size: 14px;
    line-height: 33px;
    height: 45px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #f68038;
    text-decoration: none;
    color: #ffffff;
    border-radius: 15px;
}
