.header {
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  color: white;
  padding-top: 10px;
  position: relative;
  background-color: $white;

  a {
    color: white;
  }
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:first-child {
    margin-bottom: 38px;
  }
}

.header__row.header__row-extra {
  padding-bottom: 28px;
}

.header__nav {
  max-width: 400px;
}

.header__nav-list {
  @include Play700;
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5px;
}

.header__nav-li {}

.header__nav-link {
  line-height: 29px;
  border-radius: 50px;
  padding: 0 20px;
  white-space: nowrap;

  &:hover {
    background-color: #068292;
  }
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25px;
}

.header__phones {
  display: flex;
  position: relative;
}

.header__phones-item.header__phones-item--img::before {
  content: '';
  display: block;
  width: 19px;
  height: 25px;
  background-image: url(../images/icons/white_phone.png);
  background-position: center top;
  background-size: cover;
  position: absolute;
  left: -7px;
  top: 4px;
}

.header__phones-item {
  padding-right: 33px;
  padding-left: 33px;

  &.header__phones-item--img {
    border-right: 1px solid #fff;
  }
}

.header__phones-item--img {}

.header__phones-title {
  display: block;
  font-size: 12px;
  @include f300;
}

.header__phones-num {
  font-size: 18px;
  @include f900;
  text-decoration: none;
}

.header__links {
  flex-basis: 50%;
  display: flex;
  margin-left: 15px;

  .header__link {
    text-decoration: none;
    color: $blue;
    font-size: 14px;

    &.header__link--enter span {
      color: #999999;
      border-bottom: 1px dotted #999999;
    }

    &.header__link--reg span,
    &.header__link--clallback span {
      border-bottom: 1px dotted $blue;
    }

    &.header__link--mail span {
      border-bottom: 1px solid $blue;
    }
  }
}

.header__links.header__links--extra {
  position: relative;
}

.header__link {
  display: flex;
  align-items: center;
  margin-right: 45px;

  img {
    margin-right: 10px;
  }
}

.header__link.header__link--clallback {
  margin-left: 108px;
  margin-right: 37px;
}

.header__date {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: $grey;
}

.header__date-img {
  margin-right: 16px;
}

.header__date-list {}

.header__date-day {
  font-weight: 900;
}

.header__date-time {}

.header__cart {
  width: 39px;
  height: 39px;
  background-image: url(../images/icons/blue_cart.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
  position: absolute;
  right: 20px;
  top: -9px;
}

.header__cart-quantity {
  background-color: $orange;
  display: inline-block;
  padding: 0 10px;
  @include f700;
  font-size: 18px;
  border-radius: 50px;
  line-height: 22px;
  transform: translateX(33px);
}

.main {}

.main__inner {
  display: flex;
  margin-bottom: 20px;
}

.aside-menu {
  max-width: 261px;
  width: 100%;
  background-image: url(../images/aside-bg.jpg);
  background-position: center top;
  background-size: cover;
  position: relative;
  margin-bottom: 44px;
}

.aside-menu__title {
  padding: 21px 21px 0 21px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #ffffff;
  line-height: 35px;
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;
}

.aside-menu__btn {
  margin-top: 15px;
  min-width: 36px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #068292;

  span {
    display: block;
    width: 24px;
    height: 2px;
    background-color: #ffffff;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

}

.aside-menu__list {}

.aside-menu__item {
  border-bottom: 1px solid #1aa7b9;

  &:last-child {
    border-bottom: none;
  }
}

.aside-menu__link {
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 21px;
  width: 100%;
  transition: background-color 0.3s;

  &:hover {
    background-color: #098494;
  }
}

.aside-menu__open-link {}

.aside-exstra {
  background-color: #ffffff;
  border: 2px solid #098494;
  position: absolute;
  top: 0;
  transform: translateX(100%);
  z-index: 999;
  height: 100%;
  padding-top: 20px;
  width: 100%;

  display: none;
}

.aside-exstra__list {
  font-size: 12px;
  padding-bottom: 28px;
  border-bottom: 1px solid #dedede;
  margin-bottom: 11px;
}

.aside-exstra__item {}

.aside-exstra__link {
  color: $blue;
  text-decoration: none;
  color: #1ab9ce;
  padding: 12px 39px;
  width: 100%;
  transition: background-color 0.3s;

  &:hover {
    background-color: #71c7d3;
    color: $white;
  }
}

.aside-exstra__product {
  padding: 0 24px;
}

.aside-exstra__top-day {
  font-size: 14px;
  @include f900;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $orange;
  border-radius: 50px;
  padding: 5px 15px;
  display: inline-block;
  margin-bottom: 16px;
}

.aside-exstra__product-inner {
  text-decoration: none;
}

.aside-exstra__img {
  img {
    max-width: 100%;
  }
}

.aside-extra__product-title {
  font-size: 16px;
  line-height: 24px;
  color: #36949f;
  margin-bottom: 31px;
  @include f300;
}

.aside-exstra__product-price {
  font-size: 24px;
  @include f900;
  color: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside-exstra__product .ruble-sign {
  font-size: 20px;
}

.aside-exstra__product-cartbtn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.main__aside {
  width: 100%;
}

.main__content {
  width: 100%;
  margin-left: 29px;
}

.main-search {
  position: relative;
  margin-bottom: 22px;
}

.main-search__inner {
  display: flex;
  height: 39px;
  border: 2px solid #f3f3f3;
}

.main-search__type {
  min-width: 116px;
  border: none;
  background-color: #f3f3f3;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: background-color 0.3s;

  &:hover {
    background-color: #efefef;
  }
}


.main-search__type-name {
  border-bottom: 1px dotted #000;
  font-size: 14px;
  font-weight: 300;
  color: #666666;
}

.main-search__input {
  width: 100%;
  border: none;
  outline: none;
}

.main-search__btn {
  width: 86px;
  border: none;
  font-size: 12px;
  @include f900;
  text-transform: uppercase;
  color: white;
  background-color: $orange;
  margin-top: -2px;
  margin-bottom: -2px;
  margin-right: -2px;
  cursor: pointer;
}

.main-search__sublinks {
  display: flex;
  border: 1px solid #f3f3f3;
  border-bottom: 4px solid $orange;
  position: absolute;
  width: 100%;
  z-index: -999;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.main-search__sublinks-col {
  width: 33.333333%;
  padding: 13px 0 13px 40px;
  font-size: 12px;
  color: $grey;

  &:not(:last-child) {
    border-right: 1px solid #f3f3f3;
  }
}

.main-search__sublinks-list {}

.main-search__sublinks-item {
  padding: 13px 0;
  cursor: pointer;

  &:hover {
    color: $orange;
  }
}

.main-slider {
  margin-bottom: 60px;
  position: relative;
}

.main-slider__pagination {
  position: absolute;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  bottom: -28px;
  display: flex;
}

.main-slider__pagination-item {
  width: 55px;
  height: 55px;
  background-color: #f68038;
  border: 2px solid #ffffff;
  border-radius: 50%;
  line-height: 48px;
  font-weight: 900;
  color: #fffefe;
  text-align: center;
  font-size: 0;

  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  &:not(:last-child) {
    margin-right: 45px;
  }

  &.main-slider__pagination--active{
    background-position: -200px;
    border: 4px solid #ffffff;
    font-size: 16px;
  }
}

.main-slider__content {
  width: 100%;
  height: 383px;
  overflow: hidden;
}

.main-slider__container {
  max-width: 847px;
}

.slider-content__link {
  img {
    max-width: 100%;
  }
}

.swiper-slide,
.swiper-slide-active {}

.products {}

.products__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}

.big-title {
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  color: #dadada;
}

.pagination {
  display: flex;
  align-items: center;
  ;
}

.pagination__left-arrow,
.pagination__right-arrow {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.pagination__numbers {
  margin: 0 21px;

  & span:first-child {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    color: #333333;
  }

  & span:last-child {
    font-size: 14px;
    font-weight: 500;
    color: #999999;
  }
}

.pagination__right-arrow {}

.products__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products__item {
  cursor: pointer;
  max-width: 263px;
  width: 100%;
  height: 383px;
  background-color: $white;
  border: 1px solid #f5f5f5;
  overflow: hidden;
  position: relative;
  margin-bottom: 31px;
}

.products__item-img {
  max-height: 255px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
  }
}

.products__item-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 21px 14px 21px 21px;
  overflow: hidden;
  transition: all 0.5s;
  background: transparent;
  border: none;
}

.products__item-inner {
  transform: translateY(234px);
  transition: transform 0.5s;
}

.products__item-title {
  font-size: 16px;
  font-weight: 900;
  // color: #ffffff;
  color: #36949f;
  margin-bottom: 27px;

  span {
    margin-top: 5px;
    display: block;
    font-weight: 300;
    // color: #c2c2c2;
    color: #36949f;
  }
}

.products__item-features {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  line-height: 18px;
  margin-bottom: 7px;

  span {
    display: block;
    font-weight: 900;
    color: $orange;
  }
}

.products__item-cartbtn-wrapper {
  padding: 14px 0 27px;
}

.products__item-cartbtn {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.products__item-price {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  position: absolute;
  width: 100%;
  left: 0;
  bottom: -23px;
  padding: 0 14px 40px 21px;

  z-index: 999;
  background: #fff;
  transition: background-color 0.5s;
}

.products__item-price-inner {
  text-align: right;
}

.products__old-price {
  font-size: 18px;
  font-weight: 300;
  text-decoration: line-through;
  color: #999999;
}

.products__old-price-wrapper .ruble-sign {
  color: #999999;
}

.products__curent-price {
  font-size: 24px;
  font-weight: 900;
  // color: #ffffff;
  color: #333333;
}

.products__curent-price-wrapper .ruble-sign {
  // color: #ffffff;
  color: #333333;
  font-weight: 500;
  font-size: 18px;
}

.products__item-white-cart {
  transform: translateY(10px);
}

.instock-label {
  display: none;
  padding: 0 10px;
  border-radius: 50px;
  background-color: $white;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #f68038;
  text-transform: uppercase;
  position: absolute;
  left: 21px;
  line-height: 21px;
  font-size: 11px;
  bottom: 45px;
}

.products__item:hover {
  & .products__item-content {
    background-color: rgba(0, 0, 0, 0.84);
    border: 5px solid #f68038;
  }

  & .products__item-title {
    color: #ffffff;
  }

  & .products__item-title span {
    color: #c2c2c2;
  }

  & .products__item-price {
    background: #282828;
  }

  & .products__curent-price {
    color: #ffffff;
  }

  & .products__curent-price-wrapper .ruble-sign {
    color: #ffffff;
  }

  & .products__item-inner {
    transform: none;
  }

  .products__item-white-cart {
    display: none;
  }

  .instock-label {
    display: block;
  }

  .products__item {}
}

.aside-news {
  margin-bottom: 70px;
}

.section-title {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  color: $blue;
  line-height: 25px;
}

.aside-news__section-title.section-title {
  margin-bottom: 36px;
}

.aside-news__item {}

.aside-news__title {
  @include f900;
  line-height: 18px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 15px;
}

.aside-news__content {
  display: flex;
  margin-bottom: 30px;
}

.side-news__date {
  color: #d8d8d8;
}

.side-news__date-num {
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;

}

.side-news__date-month {
  font-size: 18px;
  font-weight: 300;
  text-transform: none;
  line-height: 13px;
}

.aside-news__text {
  margin: 0;
  padding-left: 17px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  color: #666666;
}

.aside-reviews__section-title.section-title {
  color: #dadada;
  margin-bottom: 27px;
}

.aside-reviews {}

.aside-reviews__item {
  margin-bottom: 23px;
}

.aside-reviews__item:hover {

  & .aside-reviews__name,
  .aside-reviews__date {
    color: $blue;
  }

  & .aside-reviews__text {
    color: #fff;
    background: $blue;
  }
}

.aside-reviews__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.aside-reviews__name {
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  color: #333333;
}

.aside-reviews__date {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  color: #999999;
}

.aside-reviews__text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  color: #666666;
  padding: 15px 5px 15px 30px;
  position: relative;

  &::before {
    content: '”';
    display: block;
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    color: #dadada;
    position: absolute;
    left: 5px;
    top: 29px;
  }
}

.brands-labels {
  border: 3px solid transparent;
  border-image: url(../images/line.png) 3 repeat;
  padding: 40px 0;
  margin-bottom: 32px;
}

.brands-labels__container {
  max-width: 1020px;
  position: relative;
}

.brands-labels__slide {
  text-align: center;

  img {
    filter: grayscale(100%);
    opacity: 0.5;
  }

}

.brands-labels__slide img:hover {
  filter: grayscale(0);
  opacity: 1;
}

.brands-labels__inner {
  position: relative;
}

.brands-labels__button-prev,
.brands-labels__button-next {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  z-index: 9999999;

  &.swiper-button-disabled {
    opacity: 0.5;
  }
}

.brands-labels__button-prev {
  left: 0;
  margin-left: 15px;
}

.brands-labels__button-next {
  right: 0;
  margin-right: 15px;
}

.about {}

.about__inner {
  padding: 45px 57px 61px 37px;
  background-image: url(../images/about_bg.jpg);
  background-position: center top;
  background-size: cover;
  margin-bottom: 38px;
}

.section-title {}

.about__content {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
}

.about__content-column {
  max-width: 505px;
}

.footer {}

.footer__links {
  padding: 13px 0;
  border: 3px solid transparent;
  border-image: url(../images/line.png) 3 repeat;
  margin-bottom: 38px;
}

.footer__links-inner {
  display: inline-block;
}

.footer__links-list {
  display: flex;
  align-items: center;

  &:first-child {
    border-bottom: 1px solid #e0e0e0;
  }
}

.footer__links-item {
  padding: 13px 0;
  font-size: 12px;
  font-weight: 300;

  a {
    color: $blue;
    text-decoration: none;

    &:hover {
      color: #333333;
    }
  }

  &:not(:last-child) {
    margin-right: 34px;
  }

  &:first-child {
    font-size: 14px;
    font-weight: 900;
    color: #333333;
  }
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  border-bottom: 1px solid #dadada;
}

.footer__phones {
  position: relative;
}

.footer__phones-inner {
  padding-left: 40px;
  margin-top: 28px;
  position: relative;

  span {
    display: block;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 7px;
  }

  &::before {
    content: '';
    display: block;
    width: 19px;
    height: 25px;
    background-image: url(../images/icons/black_phone.png);
    background-position: center top;
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.footer__payment-systems {
  display: flex;
  position: absolute;
  bottom: 0;

  .bg-mc {
    width: 35px;
    height: 23px;
    background: url('../images/sprite.png') -122px -10px;
  }

  .bg-qiwi {
    width: 36px;
    height: 24px;
    background: url('../images/sprite.png') -10px -10px;
  }

  .bg-viza {
    width: 36px;
    height: 23px;
    background: url('../images/sprite.png') -65px -54px;
  }

  .bg-wm {
    width: 36px;
    height: 24px;
    background: url('../images/sprite.png') -66px -10px;
  }

  .bg-ym {
    width: 35px;
    height: 24px;
    background: url('../images/sprite.png') -10px -54px;
  }

  .bg-qiwi {
    width: 36px;
    height: 24px;
    background: url('../images/sprite.png') -10px -10px;
  }
}

.footer__payment-systems-item {
  &:not(:last-child) {
    margin-right: 25px;
  }
}

.shipping-labels {}

.shipping-labels__title {
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  color: #999999;
  margin-bottom: 31px;
}

.shipping-labels__inner {
  max-width: 320px;
  width: 100%;
  max-width: 320px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

.shipping-labels__item {
  padding-left: 8px;
  margin-bottom: 13px;
}

.footer__vk {
  display: flex;
}

.footer__vk-block {
  width: 260px;
  height: 240px;
  background-image: url(../images/content/vkgroup.jpg);
  background-size: cover;
  background-position: -23px;

  &:first-child {
    margin-right: 40px;
  }
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0;

  span {
    font-size: 12px;
    font-weight: 300;
    color: #999999;
  }
}

.footer__socials {
  display: flex;
}

.footer__socials-item {
  &:not(:last-child) {
    margin-right: 15px;
  }
}